{{ event.event_name }}

{% if person %}
<form action="{% url 'chousei:edit' event.key person.pk %}" method="post">
{% else %}
<form action="{% url 'chousei:add' event.key %}" method="post">
{% endif %}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="field">
        {{ form.name.label_tag }}
        {{ form.name }}
        <span class="helptext">{{ form.name.help_text }}</span>
        {{ form.name.errors }}
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>日時</th>
                <th>回答</th>
            </tr>
        </thead>
        <tbody>
            {% for field in form.schedule_answer_fields %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="field">
        {{ form.comment.label_tag }}
        {{ form.comment }}
        <span class="helptext">{{ form.comment.help_text }}</span>
        {{ form.comment.errors }}
    </div>

    <button type="submit">登録</button>

</form>