{% if canonical_url %}{# canonical が設定されていないページはソーシャルブックマークできないこととする #}
<div class='wp_social_bookmarking_light'>
    <div class="wsbl_hatena_button"><a href="//b.hatena.ne.jp/entry/{{ canonical_url }}"
            class="hatena-bookmark-button" data-hatena-bookmark-title="{{ title }}"
            data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"> <img
                src="//b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加"
                width="20" height="20" style="border: none;" /></a>
        <script type="text/javascript" src="//b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8"
            async="async"></script>
    </div>
    <div class="wsbl_facebook_like">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v12.0&appId=334959556553078&autoLogAppEvents=1" nonce="mrYjHPXV"></script>
        <div class="fb-like" data-href="{{ canonical_url }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
    </div>
    <div class="wsbl_twitter"><a href="https://twitter.com/share" class="twitter-share-button"
            data-url="{{ canonical_url }}" data-text="{{ title }}" data-lang="en">Tweet</a></div>
</div>
<br class='wp_social_bookmarking_light_clear' />
{% endif %}