{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}


{% block object-tools-items %}
    {% include "admin/import_export/change_list_import_item.html" %}
    {% if not is_popup and has_add_permission and has_change_permission %}
        <li><a href="{% url opts|admin_urlname:'recoverlist' %}" class="recoverlink">{% blocktrans with cl.opts.verbose_name_plural|escape as name %}削除したデータ復元{% endblocktrans %}</a></li>
    {% endif %}
    {{block.super}}
    <script>django.jQuery(".object-tools .addlink").text("追加")</script>
{% endblock %}
