{% extends "base.html" %}
{% load static %}

{% block content %}
<article class="page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">秋葉原のノマドに最適なメイドカフェ情報</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>秋葉原にはメイドカフェが多数あり、どのお店に行けば良いのかまったく分からないという人のために、おすすめのお店を紹介します。メイドカフェは個性が強く、雰囲気はさまざまですので、自分にあった店を見つけてください。</p>
        <h2>更新履歴</h2>
        <ul>
            <li>2015年5月7日 初稿</li>
            <li>2015年8月4日 更新（店舗追加, 判定シート掲載）</li>
            <li>2015年11月12日 更新（紹介文更新, マトリックス掲載）</li>
            <li>2015年11月25日 更新（本文構成変更）</li>
            <li>2016年4月28日 更新（店舗情報更新）</li>
            <li>2018年5月4日 更新（店舗情報更新）</li>
            <li>2021年7月12日 更新（店舗情報更新）</li>
        </ul>
        <h2>おすすめメイドカフェ一覧</h2>
        <h3>橙幻郷 <small><a href="http://tougenkyoumaid.com/">URL</a></small></h3>
        <p>橙幻郷はメイドさんの手作りごはんが食べられるカフェです。落ち着いた雰囲気で、リラックスして作業ができます。Wifi完備、電源は座席の下です。</p>
        <h3>JAM Akihabara <small><a href="http://jam-akiba.com/">URL</a></small></h3>
        <p>メイドカフェとしては老舗の一つで、パーツ街の地下にあります。ドリンクや料理の種類が豊富でカクテルも多数出してくれます。Wifi完備、壁際の席に電源があります。</p>
        <h3>Cafe Mai:lish <small><a href="https://www.mailish.jp/">URL</a></small></h3>
        <p>老舗メイドカフェを代表する店舗の一つで、ゲームやアニメのコスプレイベントを良くやっています。Wifiが安定しています。電源は頼めば延長ケーブルを伸ばしてきてくれます。</p>
        <p>店内は明るく、ゲームやアニメの歌が流れています。静か過ぎないほうがはかどる方にはお勧めです。</p>
        <h3>HoneyHoney 秋葉原 <small><a href="http://www.honey2.jp/akihabara.html">URL</a></small></h3>
        <p>メイドさんが明るく元気なメイド喫茶です。チェーン店で、横浜、大宮にも店舗があります。</p>
        <p>秋葉原店はメイド喫茶としては広めの内装で、平日日中はテーブル席で快適にノマドができます。夜や休日は行列ができるほど混むこともあります。</p>
        <p>料理が美味しく値段がリーズナブルなので、居酒屋代わりに飲み会でも利用できます。</p>
        <h3>cure maid cafe’ <small><a href="http://www.curemaid.jp/">URL</a></small></h3>
        <p>常設のメイドカフェとしては、秋葉原初で、2001年にオープンした元祖メイドカフェです。行ったことがない人は一度行っておいて損はありません。</p>
        <p>ロングスカートの清楚なメイドさんが、丁寧な接客をしてくれます。メイドさんとはほとんど話せない、普通の純喫茶という感じです。</p>
        <p>Wifiはありません。お茶ついでにちょっと作業をする程度に良いでしょう。</p>
        <div class='wp_social_bookmarking_light'>
            <div class="wsbl_hatena_button"><a
                    href="//b.hatena.ne.jp/entry/https://www.maid-cafe.work/information/akihabara_nomad_maid"
                    class="hatena-bookmark-button" data-hatena-bookmark-title="秋葉原のノマドに最適なメイドカフェ情報"
                    data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"> <img
                        src="//b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加"
                        width="20" height="20" style="border: none;" /></a>
                <script type="text/javascript" src="//b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8"
                    async="async"></script>
            </div>
            <div class="wsbl_facebook_like">
                <div id="fb-root"></div>
                <fb:like href="https://www.maid-cafe.work/information/akihabara_nomad_maid" layout="button_count"
                    action="like" width="100" share="false" show_faces="false"></fb:like>
            </div>
            <div class="wsbl_twitter"><a href="https://twitter.com/share" class="twitter-share-button"
                    data-url="https://www.maid-cafe.work/information/akihabara_nomad_maid"
                    data-text="秋葉原のノマドに最適なメイドカフェ情報" data-lang="en">Tweet</a></div>
        </div>
        <br class='wp_social_bookmarking_light_clear' />
    </div><!-- .entry-content -->

    <footer class="entry-meta">
    </footer><!-- .entry-meta -->
</article><!-- #post -->
{% endblock %}