{% extends "base.html" %}
{% load static %}

{% block content %}
<article class="page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">メイドカフェ店舗様向けノマド会のご紹介</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <h2>メイドカフェ店舗様へ</h2>
        <p>メイドカフェでノマド会では、共に発展を目指すパートナーとして、既存のメイドカフェ様（常設店ではない、不定期イベントグループ様を含む）と連携していきたいと考えております。</p>
        <p>そこで、メイドカフェ様向けに私達の目指していることを説明する資料を作成いたしました。</p>
        <p>こちらをご覧いただき、パートナー関係の構築をご希望の店舗様は<a href="https://twitter.com/maidnomad">こちらに</a>DMでご連絡ください。</p>
        <p><iframe loading="lazy"
                src="https://docs.google.com/presentation/d/e/2PACX-1vQ9XAF1IU1nuA_98Iv6snIknFTMJj6bxLjBE9FqTFjbLwCBwsCSFwB64f7z-HX00pzCjulvuLJb2jHB/embed?start=false&amp;loop=false&amp;delayms=3000"
                width="960" height="569" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
        <h2>すでに取引させていただいている店舗様一覧</h2>
        <dl>
            <dt>メイドカフェ橙幻郷様（秋葉原）</dt>
            <dd>通常営業時間内のノマド会、営業時間外の貸切</dd>
            <dt>メイドカフェ＆バー ショコランタン様（大久保）</dt>
            <dd>営業時間外の貸切</dd>
            <dt>レンタルカフェ・トリオンプ様（秋葉原）</dt>
            <dd>独自ノマドカフェイベントの会場使用</dd>
            <dt>カフェ メイリッシュ様（秋葉原）</dt>
            <dd>通常営業時間内のノマド会</dd>
            <dt>私設図書館 シャッツキステ様（秋葉原）</dt>
            <dd>通常営業時間内のノマド会</dd>
            <dt>JAM Akihabara様（秋葉原）</dt>
            <dd>通常営業時間内のノマド会</dd>
            <dt>銀座コワーキングカフェ the SNACK様（銀座）</dt>
            <dd>コワーキングスペースでのノマド会所属メイドさんのお給仕</dd>
            <dt>メイドカフェALAALBA（アラアルバ）様（大阪日本橋）</dt>
            <dd>通常営業時間内のノマド会</dd>
            <dt>メイドカフェバー　よつばの秘密基地様（大阪日本橋）</dt>
            <dd>通常営業時間内のノマド会</dd>
            <dt>メイドカフェwellmaid様（秋葉原）</dt>
            <dd>イベントの同日開催・同会場共同利用</dd>
            <dt>鈴々亭様（秋葉原）</dt>
            <dd>イベントの同日開催・同会場共同利用</dd>
            <dt>うさぎ日記様（秋葉原）</dt>
            <dd>営業時間外の貸切</dd>
        </dl>
        <div class='wp_social_bookmarking_light'>
            <div class="wsbl_hatena_button"><a
                    href="//b.hatena.ne.jp/entry/https://www.maid-cafe.work/information/for_maidcafe_info"
                    class="hatena-bookmark-button" data-hatena-bookmark-title="メイドカフェ店舗様向けノマド会のご紹介"
                    data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"> <img
                        src="//b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加"
                        width="20" height="20" style="border: none;" /></a>
                <script type="text/javascript" src="//b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8"
                    async="async"></script>
            </div>
            <div class="wsbl_facebook_like">
                <div id="fb-root"></div>
                <fb:like href="https://www.maid-cafe.work/information/for_maidcafe_info" layout="button_count"
                    action="like" width="100" share="false" show_faces="false"></fb:like>
            </div>
            <div class="wsbl_twitter"><a href="https://twitter.com/share" class="twitter-share-button"
                    data-url="https://www.maid-cafe.work/information/for_maidcafe_info" data-text="メイドカフェ店舗様向けノマド会のご紹介"
                    data-lang="en">Tweet</a></div>
        </div>
        <br class='wp_social_bookmarking_light_clear' />
    </div><!-- .entry-content -->

    <footer class="entry-meta">
    </footer><!-- .entry-meta -->
</article><!-- #post -->
{% endblock %}