{% extends "base.html" %}
{% load static %}

{% block content %}
<article class="page type-page status-publish has-post-thumbnail hentry">
    <header class="entry-header">
        <h1 class="entry-title">運営体制</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>メイドカフェでノマド会は次の体制で運営されています。</p>
        <ul>
            <li><a href="#representative_work">代表者</a></li>
            <li><a href="#participant_work">参加者</a>
                <ul>
                    <li><a href="#organizers_work">イベントオーガナイザー</a></li>
                    <li><a href="#maid_work">メイドさん</a></li>
                    <li>一般参加者</li>
                </ul>
            </li>
        </ul>
        <h2>職務内容</h2>
        <h3 id="representative_work">代表者</h3>
        <ul>
            <li>メイドカフェでノマド会運営の継続に責任を持ち、必要なことを行います</li>
        </ul>
        <h3 id="participant_work">参加者</h3>
        <ul>
            <li>イベント主催者、メイドさん、一般参加者すべてが<span
                    style="font-weight: 400;">一つのイベントを実行する</span><b>「参加者」</b>だと考えています。ノマド会に「お客様」はいません</li>
            <li>参加者は「やりたいことを実現する場」としてノマド会を活用してください</li>
            <li>参加者は、他の参加者の「やりたいこと」を尊重し合うようにしてください</li>
        </ul>
        <h3 id="organizers_work">イベントオーガナイザー</h3>
        <ul>
            <li>イベントを企画・主催します</li>
            <li>必要に応じて店舗と交渉を行います</li>
            <li>必要に応じてメイドさんを集め、お給仕を依頼します</li>
        </ul>
        <p><a href="http://www.maid-cafe.work/organization/organizers_profile">オーガナイザー紹介</a></p>
        <h3 id="maid_work">メイドさん</h3>
        <ul>
            <li>メイドさんも「参加者の一人」としてイベントに関わります</li>
            <li>イベントオーガナイザーと話し合って一緒に良いイベントを作ってもらっています</li>
        </ul>
        <p><a href="{% url 'maidlist:index' %}">メイドさん紹介</a></p>
        <div class='wp_social_bookmarking_light'>
            <div class="wsbl_hatena_button"><a href="//b.hatena.ne.jp/entry/https://www.maid-cafe.work/organization"
                    class="hatena-bookmark-button" data-hatena-bookmark-title="運営体制"
                    data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"> <img
                        src="//b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加"
                        width="20" height="20" style="border: none;" /></a>
                <script type="text/javascript" src="//b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8"
                    async="async"></script>
            </div>
            <div class="wsbl_facebook_like">
                <div id="fb-root"></div>
                <fb:like href="https://www.maid-cafe.work/organization" layout="button_count" action="like" width="100"
                    share="false" show_faces="false"></fb:like>
            </div>
            <div class="wsbl_twitter"><a href="https://twitter.com/share" class="twitter-share-button"
                    data-url="https://www.maid-cafe.work/organization" data-text="運営体制" data-lang="en">Tweet</a></div>
        </div>
        <br class='wp_social_bookmarking_light_clear' />
    </div><!-- .entry-content -->

    <footer class="entry-meta">
    </footer><!-- .entry-meta -->
</article><!-- #post -->
{% endblock %}