{% extends "base.html" %}
{% load static %}

{% block content %}
<article class="page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">メイドカフェでノマド会公式Webサイトへようこそ</h1>
    </header>
    
    <div class="entry-content">

{% markdown %}
<img loading="lazy"
    class="size-full wp-image-522 aligncenter"
    src="{% static 'maidnomad-logo.jpg' %}" alt="" width="400"
    height="399"
    srcset="{% static 'maidnomad-logo.jpg' %} 400w, {% static 'maidnomad-logo-150x150.png' %} 150w, {% static 'maidnomad-logo-300x300.jpg' %} 300w"
    sizes="(max-width: 400px) 100vw, 400px" />

<img loading="lazy" class="alignright wp-image-454"
    src="https://maidnomadweb.s3.amazonaws.com/photos/ishigamipro-work.jpg"
    alt="メイドカフェで作業中の代表者" width="240" height="196" />

こんにちは！メイドカフェでノマド会の代表、石上と申します。
**「メイドカフェ」と「ノマド」というと、何の関連も無い組み合わせだと思うかもしれません！**
しかし、**メイドカフェは理想的なノマドスペースです！**

理由を挙げれば

- 電源、Wifi完備の場合が多い
- 店員（メイドさん）の接客が丁寧
- 長時間居やすい
- 疲れたらメイドを見て癒される

実際、メイドカフェでPCを広げているお客さんは多いです。
詳しくは [こちら](https://un-chiku.com/maidcafe/) や [こちら](https://www.susumuis.info/entry/2015/maid_nomad) も御覧ください。


## メイドカフェでノマド会とは

<img loading="lazy" class="alignnone size-full wp-image-456"
    src="https://maidnomadweb.s3.amazonaws.com/photos/maidcafenomad-illust.jpg"
    alt="" width="480" height="332" />

**メイドカフェノマドが素晴らしいことを紹介** し、メイドカフェでクリエイティブな活動をするすべての人を応援するイベントを東京秋葉原、大阪日本橋を中心に企画運営しています！

例えば、次のようなことを実施しています。

- メイドカフェでノマド会
- ノマド専用メイドカフェイベント（レンタルカフェ使用）
- コワーキングスペースさんとコラボでメイドさんが居る作業スペース
- メイドさんが参加する勉強会やワークショップ

詳しくは、[イベント告知サイトconnpass のメイドカフェでノマド会グループ](https://maid-cafe-nomad.connpass.com) をご覧ください。
[日経BPさんにも取材されました](https://itpro.nikkeibp.co.jp/atcl/column/14/255608/080200332/?n_cid=nbpitp_mled_itp")

<a href="https://maidnomadweb.s3.amazonaws.com/photos/maya.jpg">
    <img loading="lazy"
        class="alignnone wp-image-530 "
        src="https://maidnomadweb.s3.amazonaws.com/photos/maya.jpg" alt="まやさん" width="251"
        height="167"
        sizes="(max-width: 251px) 100vw, 251px" />
</a>
<a href="https://maidnomadweb.s3.amazonaws.com/photos/osaka-nomad.jpg">
    <img loading="lazy"
        class="size-medium wp-image-459"
        src="https://maidnomadweb.s3.amazonaws.com/photos/osaka-nomad.jpg" alt="大阪でノマド会を開催した時の様子"
        width="300" height="169"
        sizes="(max-width: 300px) 100vw, 300px" />
</a>

<a href="https://maidnomadweb.s3.amazonaws.com/photos/akiba-nomad.jpg">
    <img
        loading="lazy" class="size-medium wp-image-463"
        src="https://maidnomadweb.s3.amazonaws.com/photos/akiba-nomad.jpg" alt="秋葉原でノマド会を開催した時の様子"
        width="300" height="169" />
</a>
<a href="https://maidnomadweb.s3.amazonaws.com/photos/akiba-nomad3.jpg">
    <img loading="lazy"
        class="alignnone wp-image-529 "
        src="https://maidnomadweb.s3.amazonaws.com/photos/akiba-nomad3.jpg" alt="秋葉原でノマド会を開催した時の様子2" width="261"
        height="174"
        sizes="(max-width: 261px) 100vw, 261px" />
</a>

## 会を始めた理由

メイドカフェには「**興味がありつつも、近寄りがたい**」イメージを持たれている方も多いのではないでしょうか。
今でこそ**メイドカフェでノマドのプロ**を名乗っている僕も、数年前はその一人でした。

<img loading="lazy"
    class="size-medium wp-image-460 alignright"
    src="https://maidnomadweb.s3.amazonaws.com/photos/ishigamipro-nomad.jpg" alt="ノマドワーク中の代表者"
    width="300" height="258"
    sizes="(max-width: 300px) 100vw, 300px" />

しかし、個人ブログでメイドカフェを紹介して行くうちに **「いしがみさんのブログを読んできました」** と言う新規のお客さんが月に数名現れ、そのまま常連客になっていきました。

彼らは、自ら一歩を踏み出した勇気がある人だと思います。
であれば、**僕がイベントという形で参加を促せばもっと多くの人が来るかもしれない** と思ってイベントをはじめました。

イベントを始めた結果、**想像以上に秋葉原界隈にはノマドワーカーの方がいる**ことがわかり、参加者の方々に支えられ、規模が大きくなってきました。

## 会の参加者同士の交流・運営への参加

参加者同士の交流や、運営業務は [Slack](https://maid-cafe-nomad.slack.com/) で行っています。

メイドカフェでノマド会主催のイベントに参加された方にSlackの招待リンクを送っております。<br />
もし、過去に参加したが招待リンクが手元にない場合や、
しばらくイベントには参加できないがメイドカフェでノマド会の運営に関わりたいなどの場合は、
[メイドカフェでノマド会公式 Twitter アカウント](https://twitter.com/maidnomad) へご連絡ください。

## メイドカフェでノマド会の理念

- メイドカフェでノマド会は全国のメイドカフェを応援します
- メイドカフェでノマド会はノマドワーク、リモートワークをする人を応援します
- メイドカフェでノマド会はメイドカフェで働くメイドさんを応援します
- メイドカフェでノマド会は秋葉原、大阪日本橋の文化を大切にします
- メイドカフェでノマド会は透明な運営を心がけています
- メイドカフェでノマド会はメイドカフェで働くメイドさんとIT系の人たちの文化の融合によって新たな可能性の開花を模索します

<a href="https://maidnomadweb.s3.amazonaws.com/photos/okaeri.jpg">
    <img loading="lazy"
        class="alignnone wp-image-448"
        src="https://maidnomadweb.s3.amazonaws.com/photos/okaeri.jpg" alt="メイドさんプレート"
        width="250" height="173" />
</a>
<a href="https://maidnomadweb.s3.amazonaws.com/photos/osaka-nomad2.jpg">
    <img loading="lazy"
        class="alignnone wp-image-533 "
        src="https://maidnomadweb.s3.amazonaws.com/photos/osaka-nomad2.jpg" alt="" width="265"
        height="149"
        sizes="(max-width: 265px) 100vw, 265px" />
</a>
<a href="https://maidnomadweb.s3.amazonaws.com/photos/akiba-nomad4.jpg">
    <img loading="lazy"
        class="alignnone wp-image-537 "
        src="https://maidnomadweb.s3.amazonaws.com/photos/akiba-nomad4.jpg" alt=""
        width="342" height="192"
        sizes="(max-width: 342px) 100vw, 342px" />
</a>
<a style="font-weight: bold; background-color: transparent;"
    href="https://maidnomadweb.s3.amazonaws.com/photos/omelet_rice.jpg">
    <img loading="lazy"
        class=" wp-image-593"
        src="https://maidnomadweb.s3.amazonaws.com/photos/omelet_rice.jpg" alt=""
        width="223" height="196"
        sizes="(max-width: 223px) 100vw, 223px" />
</a>

## ノマド会に興味を持って頂いたら

まずは [connpassのグループ](https://maid-cafe-nomad.connpass.com)に登録しましょう！

そして、参加できる都合の良い時に是非イベントに参加してください。
{% endmarkdown %}

{% include "socialbuttons.html" with title=SITE_ROOT_TITLE %}
{% include "adsense_box.html" %}

    </div><!-- .entry-content -->
</article><!-- #post -->
{% endblock %}
