{% extends "base.html" %}
{% load static %}

{% block headtag_information %}
	<title>{{ maid_profile.name }} | {{ SITE_ROOT_TITLE }}</title>
    {% if maid_profile.description %}
    <meta name="description" content="メイドカフェでノマド会所属メイド {{ maid_profile.name }} さんを紹介します。{{ maid_profile.description }}" />
    <meta property="og:description" content="{{ maid_profile.description }}" />
    {% else %}
    <meta name="description" content="メイドカフェでノマド会所属メイド {{ maid_profile.name }} さんを紹介します。" />
    <meta property="og:description" content="メイドカフェでノマド会所属メイド {{ maid_profile.name }} さんを紹介します。" />
    {% endif %}
	<meta property="og:site_name" content="{{ SITE_ROOT_TITLE }}" />
	<meta property="og:locale" content="ja" />
	<meta property="og:type" content="article" />
    {% if og_image_url %}
	<meta property="og:image" content="{{ og_image_url }}" />
    {% else %}
    <meta property="og:image" content="{% static 'no_image.png' %}" />
    {% endif %}
	<meta property="og:title" content="{{ maid_profile.name }}" />
{% endblock %}

{% block content %}
<style>
    h2 {
        font-size: 1em;
        font-weight: bold;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
    }
</style>

<article id="maidlist-detail" class="page type-page status-publish has-post-thumbnail hentry">
    <header class="entry-header">
        <div class="entry-thumbnail">
            {% if image_url %}
                <img width="300" height="270" src="{{ image_url }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" />
            {% else %}
                <img width="300" height="270" src="{% static 'no_image.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" />
            {% endif %}
        </div>
        
        <h1 class="entry-title">{{ maid_profile.name }}</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        {{content | safe}}

        <p><a href="{% url 'maidlist:index' %}">メイドさん一覧へ</a></p>
        <div class='wp_social_bookmarking_light'>
            <div class="wsbl_hatena_button">
                <a
                    href="//b.hatena.ne.jp/entry/https://www.maid-cafe.work/organization/maid_profile/{{ maid_profile.code }}"
                    class="hatena-bookmark-button"
                    data-hatena-bookmark-title="{{ maid_profile.name }}"
                    data-hatena-bookmark-layout="simple-balloon"
                    title="このエントリーをはてなブックマークに追加"
                > <img src="//b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
                </a>
                <script type="text/javascript" src="//b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </div>
            <div class="wsbl_facebook_like">
                <div id="fb-root"></div>
                <fb:like
                    href="https://www.maid-cafe.work/organization/maid_profile/{{ maid_profile.code }}"
                    layout="button_count"
                    action="like"
                    width="100"
                    share="false"
                    show_faces="false"
                ></fb:like>
            </div>
            <div class="wsbl_twitter">
                <a
                    href="https://twitter.com/share"
                    class="twitter-share-button"
                    data-url="https://www.maid-cafe.work/organization/maid_profile/{{ maid_profile.code }}"
                    data-text="{{ maid_profile.name }}"
                    data-lang="en"
                >Tweet</a>
            </div>
        </div>
        <br class='wp_social_bookmarking_light_clear' />
        {% include "adsense_box.html" %}
    </div><!-- .entry-content -->
</article><!-- #post -->

{% endblock %}